.beneficios {
  display: flex;
  flex-direction: row; 
  justify-content: space-around; 
  text-align: center;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  color: #416188;
  padding: 40px;
}

.beneficio {
  flex: 1; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin: 0 10px; 
}

.beneficio img {
  height: 40px;
  width: 40px;
  margin-bottom: 10px; 
}

.beneficio h2, .beneficio p {
  margin: 0; 
}

.titulo {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px; 
}

.texto {
  display: flex;
  flex-direction: row; 
  justify-content: space-around; 
  width: 100%; 
}