.beneficios img {
  height: 40px;
  width: 40px;
}
.beneficios {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  color: #416188;
  padding: 40px;
}
.textos {
  display: flex;
  flex-direction: row;
  text-align: center;
  color: black;
}

.beneficio {
  flex: 1;
}
