.beneficios {
  display: flex;
  flex-direction: row; 
  justify-content: space-around; 
  text-align: center;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  color: #416188;
  padding: 40px;
}

.beneficio {
  flex: 1; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin: 0 10px; 
  margin-bottom: 80px;
}

.beneficio img {
  height: 40px;
  width: 40px;
  margin-bottom: 10px; 
}

.titulo {
  font-size: 22px;
  text-align: center;
  margin-bottom: 150px; 
  margin-top: 120px;
}

.texto {
  background-color: rgb(235, 235, 235);
  padding-top: 80px;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: row; 
  justify-content: space-around; 
  width: 100%; 
}
