.navbar {
  justify-content: space-between;
  display: flex;
  color:  rgb(206, 223, 0);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  align-items: center;
  background-color:  rgb(0, 19, 41)
}
.logoFace {
  display: flex;
  width: 40px; 
  height: 40px;
 

}
.Menu {
  display: flex;
  text-align: center;
}
p {
  margin: 10px;
  text-align: center;
  align-items: center;
  
 

}
  

p:hover {
  color: rgb(184, 199, 0);
}
