.navbar {
  justify-content: space-between;
  display: flex;
  color: #416188;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  align-items: center;
}
.logoFace {
  display: flex;
  width: 40px; /* ajuste conforme necessário */
  height: 40px; /* ajuste conforme necessário */
}
.Menu {
  display: flex;
  text-align: center;
}
p {
  margin: 10px;
  text-align: center;
  align-items: center;
}
