

.ButtonCheckboxContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .ButtonCheckbox {
    margin: 0 5px;
  }
  
  .ButtonCheckbox label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .ButtonCheckbox input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .ButtonCheckbox input[type="checkbox"]:checked + span {
    font-weight: bold;
    color: blue;
  }
  
  .ButtonCheckbox span {
    font-size: 16px;
    color: black;
    cursor: pointer;
  }