
.UserForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .UserForm label {
    display: block;
    margin-bottom: 5px;
  }
  
  .UserForm input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .UserForm button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .UserForm button[type="submit"]:hover {
    background-color: #0056b3;
  }

  .buttonForm {
   
    display: block; 
    margin: 0 auto; 
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttonForm:hover {
    background-color: #0056b3;
  }