.UserFormGeral{
  margin-top: 150px;
}


.UserForm {
  max-width: 400px;
  margin: 0 auto;
  
  border-radius: 10px;
  


}

.UserForm label {
  display: block;
  margin-bottom: 5px;
  border-radius: 10px;
}


.buttonForm {
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 100px;
  background-color: #fd920f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.input{
  
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #cccccc;
  opacity: 0.4;
}