.Footer {
    display: block;
    margin: 0 auto;
    padding: 200px;
    background: linear-gradient(to bottom, #a1c4fd, #c2e9fb);
    /* Adicionando a cor de fallback */
    background-color: #a1c4fd;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}